---
import { skills } from "@cv";
import Section from "../Section.astro";
import HTML from "@/icons/html.astro";
import CSS from "@/icons/css.astro";
import JavaScript from "@/icons/javascript.astro";
import TypeScript from "@/icons/typescript.astro";
import React from "@/icons/react.astro";
import Angular from "@/icons/angular.astro";
import Node from "@/icons/node.astro";
import Git from "@/icons/git.astro";
import GitHub from "@/icons/github.astro";
import Java from "@/icons/Java.astro";
import Bitbucket from "@/icons/bitbucket.astro";
import AWS from "@/icons/aws.astro";
import GCP from "@/icons/gcp.astro";

const SKILLS_ICONS: Record<string, any> = {
    HTML,
    CSS,
    JavaScript,
    TypeScript,
    React,
    Angular,
    Node,
    Git,
    Java,
    GitHub,
    Bitbucket,
    AWS,
    GCP,
};
---

<Section title="Habilidades">
    <ul>
        {
            skills.map(({ name }) => {
                const Icon = SKILLS_ICONS[name];

                return (
                    <li>
                        {Icon && <Icon />} <span>{name}</span>
                    </li>
                );
            })
        }
    </ul>
</Section>

<style>
    ul {
        display: inline-flex;
        gap: 8px;
        flex-wrap: wrap;
        justify-content: center;
    }

    li {
        align-items: center;
        background: #eee !important;
        border-radius: 6px;
        color: black;
        display: flex;
        font-size: 0.8rem;
        font-weight: 500;
        gap: 4px;
        padding: 0.2rem 0.6rem;
    }

    @media print {
        li {
            print-color-adjust: exact;
            -webkit-print-color-adjust: exact;
        }
    }
</style>
